<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>mush</title>
  </head>

  <body>
    <a href="/">&lt; mush</a>
    <h1>passage: <%= passage.passage %></h1>

    <form action="/<%= passage['_id'] %>" method="POST">
      <textarea name="passage"><%= passage.passage %></textarea>
      <button type="submit">Update</button>
    </form>

    <form action="/<%= passage['_id'] %>/delete" method="POST" style="margin-top: 5rem; opacity: 0.3;">
      <input type="submit" value="delete">
    </form>
    
  </body>
</html>
